* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --darkGray: rgba(30,30,40);
  --lightDarkGray: rgba(40,40,50);
  --orange: orange;
}
body {
  background-color: var(--darkGray);
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
ul {
  position: relative;
  background-color: var(--lightDarkGray);
  max-width: 1000px;
  width: 90%;
  min-height: 50vh;
  max-height: 60vh;
  aspect-ratio: 16 / 9;
  cursor: crosshair;
  caret-color: #0f0;
}
@keyframes opening {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 40px;
    height: 40px;
  }
  
}
li {
  position: absolute;
  /*background: url(target.png) center center/cover;*/
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
li img {
  width: 40px;
  height: 40px;
  animation: opening .3s;
  object-position: 50% 50%;
}
button {
  background-color: transparent;
  width: auto;
  height: 50px;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  gap: 10px;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  padding-inline: 20px;
  box-shadow: 0 0 1px 0 #fff;
}
button span {
  width: 0;
  overflow: hidden;
  display: inline-block;
}
button:hover {
  background-color: rgba(255,255,255,.1);
  color: #fff;
}
button span {
  width: auto;
  overflow: hidden;
  display: inline-block;
}
.btnStartGame {
  background-color: limegreen;
  color: #fff;
  font-weight: 600;
}
.btnEndGame {
  background-color: orangered;
  color: #fff;
  font-weight: 600;
}
.btnFullScreen {
  color: #fff;
  font-weight: 600;
  margin-left: auto;
}
/* #stop, #refresh {
  display: none;
} */
.panel {
  max-width: 1000px;
  width: 90%;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 20px;
}
.control {
  justify-content: flex-start;
  gap: 20px
}
.control > button{
  justify-content: center;
}
.logo {
  font-size: 25px;
  color:orange;
}
.wrapper-sayac {
  font-size: 16px;
}
.sayac {
  color:#f00;
}

.extensions {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

@media (max-width:488px) {
  body {
    gap: 20px;
  }
  .panel {
    gap: 20px;
  }
  .control > button {
    flex-grow: 1;
  }
}